extends widged

block head
  script(async, defer, src="/components/flipjs/dist/flip.js")
  script(async, defer, src="/components/gsap/src/minified/easing/EasePack.min.js")
  //- script(async, defer, src="/scripts/maor-info.js")

block widged_content
    header
      span= user.name
      span.type &nbsp;/ badges
    .container
      .badges
        if user.badges
          for badge in user.badges
            .badge
              .shadow
              .img(style='background-image: url(#{badge.image});')
              header !{badge.title}
              p= badge.description
        else
          .no-badges #{user.name} has no badges jet.
